<p>Please select an address:</p>
	<%= form_tag "/profile/orders/#{@order.id}", method: :patch do %>
		<%= collection_select(:patch, :my_selection, @addresses, :id, :display ) %>
		<%= submit_tag 'Change Address'  %>
<% end %>

<p>Or add new address:</p>
<%= render partial: 'user/addresses/form', locals: { path: "/profile/orders/#{@order.id}/edit", method: :post, button_text: 'New Address' } %>
