/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-image: url("https://i.pinimg.com/originals/97/05/8f/97058f3862a301c176d0a7dae0edba2a.jpg");
	text-align: center;
}

h1 {
	max-width: 700px;
	padding: 10px;
	border: 5px solid gray;
	margin: auto;
	background-color: white;
}

section {
  font-weight: bold;
  width: 700px;
  padding: 10px;
  border: 5px solid gray;
  margin: auto;
  background-color: #e3f2fd;
    p {
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 25px;
    }
  }

h2 {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: auto;
  background-color: white;
}

input[type=submit] {
  width: 40%;
  background-color: #b4b4b4;
  color: white;
  padding: 5px 5px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: darkgray;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
