<h1>All Users</h1>
<% @users.each do |user| %>
  <section id="user-<%= user.id %>">
    <h3><%= link_to user.name, "/admin/users/#{user.id}" %></h3>
    <p>Role: <%= user.role %></p>
    <p>Registered: <%= user.created_at %></p>
  </section>
<% end %>
